.img {
  width: 100%;
  margin-bottom: 18%;
  cursor:pointer;
}
.card-picture {
  margin-bottom: 10px;
}

.container {
  min-height: 100%;
  width: 100%;
}

.search-form {
  width: 90%;
}

span.card-title {
  font-size: 17px
}