$avatar-gap: 25 + 50 + 20px;
$row-gap: 15px;
$ghost-row-gap: ($row-gap - 3) px;
$min-content-height: 459px;

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.content {
  min-height: $min-content-height;
}

.spinner {
  position: absolute;
  top: 30%;
  left: 40%;
}

.list {
  padding-top: 24px;
}

.user {
  overflow: hidden;
}

.avatar {
  float: left;
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 2px rgba(204, 204, 204, 0.24);
  border-radius: 50%;
  margin-left: 27px;

  overflow: hidden;
}


 .img {
  width: 100%;
  margin-bottom: 18%;
  cursor:pointer;
}
.card-picture {
  margin-bottom: 10px;
}

.container {
  min-height: 100%;
  width: 100%;
}

.search-form {
  width: 90%;
}

span.card-title {
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
} 