<ng-container *ngIf="detail$ | async as details">

    <h4 mat-dialog-title>
      <a href="https://boardgamegeek.com/boardgame/{{details.gameId}}" target="_blank">{{ details.name }}</a> <span style="font-size: 13px">
        (Any: {{ details.yearPublished}})</span>
      <mat-icon (click)="onNoClick()" class="clear">clear</mat-icon>
      <mat-card-subtitle>
        <span *ngIf="details.rank !== -1">Rank: {{ details.rank }}</span>
        Nota: {{ details.averageRating | number}}
      </mat-card-subtitle>
    </h4>
    <mat-dialog-content style="max-height: 500px; overflow-y: auto;">
    <!--  {{ details | json}} -->
    <img class="img-responsive" src="{{details.thumbnail }}">

        <div >
            <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10">
              <div>
                  Jugadors: de {{ details.minPlayers}} a {{ details.maxPlayers}}
              </div>
              <div>Temps: {{ details.playingTime}} min</div>
            </div>
            <div>
                Mecàniques:
                <ul>
                  <li *ngFor="let mec of details.mechanics">{{mec}}</li>
                </ul>
              </div>
              <div>
                Dissenyador/s:
                <ul>
                  <li *ngFor="let dis of details.designers">{{dis}}</li>
                </ul>
              </div>
              <div>
                Il.lustrador/s:
                <ul>
                  <li *ngFor="let artist of details.artists">{{artist}}</li>
                </ul>
              </div>
              <div *ngIf="details.expansions && details.expansions.length > 0">
                Expansió/ns:
                <ul>
                  <li *ngFor="let expansion of details.expansions">
                    <a href="https://boardgamegeek.com/boardgame/{{expansion.gameId}}" target="_blank">{{expansion.name}}</a>
                  </li>
                </ul>
              </div>
        </div>
      </mat-dialog-content>
  </ng-container>
  