<!-- <ul>
  <li class="text" *ngFor="let user of users | async">
    {{ user | json  }}
  </li>
</ul>

<form [formGroup]="form" [hidden]="success" (ngSubmit)="submitHandler()">
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>

  <button mat-button color="primary" type="submit" [disabled]="form.invalid">Añadir</button>
</form> 

<div *ngIf="success">
  Usuari afegit OK!
</div>-->

<h3>Hotness ({{(hotness$ | async)?.length}})</h3>

<ul>
  <li *ngFor="let game of hotness$ | async">
      <!-- {{ game | json }} -->
      {{ game['$']['rank'] }} -  {{ game['$']['id'] }} - <img src="{{ game.thumbnail[0]['$']['value'] }}">  {{ game.name[0]['$']['value'] }} ({{ game.yearpublished[0]['$']['value'] }})
  </li>
</ul>

